<!-- start banner Area -->
<app-banner [title]='pageTitle'></app-banner>
<!-- End banner Area -->

<!-- Start price Area -->
<section class="price-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">We Provide Affordable Prices</h1>
					<p>Well educated, intellectual people, especially scientists at all times demonstrate considerably.
					</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<div class="single-price">
					<h4>Corporate Packages</h4>
					<ul class="price-list">
						<li class="d-flex justify-content-between align-items-center">
							<span>Treks</span>
							<a href="#" class="price-btn">10% Off</a>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Camps</span>
							<a href="#" class="price-btn">15% Off</a>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Tours</span>
							<a href="#" class="price-btn">5% Off</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-price">
					<h4>Student Packages</h4>
					<ul class="price-list">
						<li class="d-flex justify-content-between align-items-center">
							<span>Treks</span>
							<a href="#" class="price-btn">20% Off</a>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Camps</span>
							<a href="#" class="price-btn">15% Off</a>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Tours</span>
							<a href="#" class="price-btn">10% Off</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-price">
					<h4>Family Packages</h4>
					<ul class="price-list">
						<li class="d-flex justify-content-between align-items-center">
							<span>Treks</span>
							<a href="#" class="price-btn">10% Off</a>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Camps</span>
							<a href="#" class="price-btn">20% Off</a>
						</li>
						<li class="d-flex justify-content-between align-items-center">
							<span>Tours</span>
							<a href="#" class="price-btn">5% Off</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End price Area -->
