<!-- start banner Area -->
<app-banner [title]='pageTitle'></app-banner>
<!-- End banner Area -->

<div class="sticky">
    <div class="book-now" *ngIf='trek.eventDate'>
        <span class='old-price'>{{ trek.price | currency:'INR' }}</span>
        <span class='new-price'>{{ trek.price - 200 | currency:'INR' }}</span>
        <a class="primary-btn text-uppercase"> Book Now </a>
    </div> 
</div>   

<!-- Start Content Area -->
<section class="insurence-one-area section-gap">
    <div class="container">  
        <div class="row align-items-center" *ngIf='trek'>
            <div class="col-lg-6 insurence-left">
                <img class="img-fluid img-one" [src]='trek.imageURL' [title]='trek.name'>
                <a id='viewGallery' class="primary-btn text-uppercase mt-10 mb-10">View Gallery</a>
            </div>
            <div class="col-lg-6 insurence-right">
                <!-- <a class="primary-btn text-uppercase" (click)='onBack()' style="float: right;">Back</a> -->
                <h6 class="text-uppercase">Need to know</h6>
                <h1>{{trek.name}}</h1>
                <app-star [rating]='trek.rating'>
                </app-star>
                <p>
                    {{trek.description}}
                </p>
                <h5>Key Attractions</h5>
                <div class="list-wrap" *ngIf='trek.attractions.length'>
                    <ul>
                        <li *ngFor='let attraction of trek.attractions'>{{attraction.toString()}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Content Area -->

<div id="imageGallery" class="section-top-border" *ngIf='trek && trek.gallery.length'>
    <h3>Image Gallery</h3>
    <div class="row gallery-item">
        <div [ngClass]="i % 2 == 0 ? 'col-md-2' : 'col-md-3'" *ngFor='let img of trek.gallery; let i = index;'>
            <a [href]='imagePath + trek.id + "/" + img' class="img-gal"><div class="single-gallery-image" 
               [ngStyle]="{'background': 'url(' + imagePath + trek.id + '/' + img + ')'}"></div></a>
        </div>
    </div>

    <!-- <div class="row gallery-item">
        <div class="col-md-4">
            <a href="assets/img/treks/1/harishchandreshwartemple.jpg" class="img-gal">
                <div class="single-gallery-image" style="background: url(assets/img/treks/1/harishchandreshwartemple.jpg);"></div></a>
        </div>
        <div class="col-md-4">
            <a href="assets/img/treks/1/panoroma.jpg" class="img-gal">
                <div class="single-gallery-image" style="background: url(assets/img/treks/1/panoroma.jpg);"></div></a>
        </div>
        <div class="col-md-4">
            <a href="assets/img/treks/1/kedareshwarcave.jpg" class="img-gal">
                <div class="single-gallery-image" style="background: url(assets/img/treks/1/kedareshwarcave.jpg);"></div></a>
        </div>
        <div class="col-md-6">
            <a href="assets/img/treks/1/kokankada.jpg" class="img-gal">
                <div class="single-gallery-image" style="background: url(assets/img/treks/1/kokankada.jpg);"></div></a>
        </div>
    </div> -->
</div>

<!--Start Timeline Area-->
<section class="insurence-one-area section-gap section-top-border" *ngIf='tripSchedule && tripSchedule.schedule'>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 insurence-left">
                    <h3 class="mb-30">Schedule</h3>
                    <app-timeline [schedule]='tripSchedule'></app-timeline>
            </div>
            <div class="col-lg-4 insurence-right inclusions-background" *ngIf='tripSchedule.inclusions || tripSchedule.exclusions'>
                        <div class="inclusions" *ngIf='tripSchedule.inclusions'>
                            <h3 class="mb-20">Inclusions</h3>
                            <ul class="unordered-list">
                                <li *ngFor='let inclusion of tripSchedule.inclusions'>{{inclusion}}</li>
                            </ul>
                        </div>
                        <div class="exclusions" *ngIf='tripSchedule.exclusions'>
                            <h3 class="mb-20">Exclusions</h3>
                            <ul class="unordered-list">
                                <li *ngFor='let exclusion of tripSchedule.exclusions'>{{exclusion}}</li>                         
                            </ul>
                        </div>
            </div>
        </div>
    </div>
</section>
<!--End Timeline Area-->

<!-- Start popular-destination Area -->
<section class="popular-destination-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Related Events</h1>
                    <p>We all live in an age that belongs to the young at heart. Life that is becoming extremely fast,
                        day.</p>
                </div>
            </div>
        </div>
        <div class="row" *ngIf='treks && treks.length'>
            <div class="col-lg-4 pb-40" *ngFor='let trek of treks'>
                <div class="single-destination relative" [routerLink]="['/trek', trek.id]">
                    <div class="thumb relative">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" [src]='trek.imageURL' [title]='trek.name' style="height:250px!important">
                    </div>
                    <div class="desc">
                        <a class="price-btn" *ngIf='trek && trek.eventDate'>{{trek.eventDate | date:'mediumDate'}}</a>
                        <h4>{{trek.name}}</h4>
                        <p>{{trek.location}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-lg-12">
                <div class="alert-msg" style="text-align: left;"></div>
                <a class="primary-btn text-uppercase" [routerLink]='["/treks"]' style="float: right;">More Events</a>
            </div>
        </div>
    </div>
</section>
<!-- End popular-destination Area -->

<!-- Start testimonial Area -->
<section class="testimonial-area section-gap" *ngIf='reviews && reviews.length'>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Testimonial from our Clients</h1>
                    <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall
                        from </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row" *ngFor='let review of reviews'>
                    <div class="thumb">
                        <img class="img-fluid" [src]='"assets/img/users/" + review.userId + ".jpg"' alt="">
                    </div>
                    <div class="desc">
                        <p>
                           {{review.comment}}
                        </p>
                        <h4>{{review.name}}</h4>
                        <app-star [rating]='review.rating'></app-star>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End testimonial Area -->
