<header id="header">
  <div class="header-top">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-6 col-6 header-top-left">
          <!-- <ul>
            <li><a href="#">Visit Us</a></li>
            <li><a href="#">Buy Tickets</a></li>
          </ul>			 -->
        </div>
        <div class="col-lg-6 col-sm-6 col-6 header-top-right">
        <div class="header-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
          <!-- <a (click)="doLogin()">Login / Register </a> -->
          <app-login></app-login>
        </div>
        </div>
      </div>			  					
    </div>
  </div>
   <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
        <div id="logo">
          <a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>
        </div>
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/treks']">Events</a></li>
            <li class="menu-has-children"><a [routerLink]="['/treks']" class="sf-with-ul">Activities</a>
              <ul style="display: none;" *ngIf='activities && activities.length'>
                <li *ngFor='let activity of activities'><a [routerLink]="['/treks/', activity.name]" >{{activity.name | titlecase | convertToSpaces:'-'}}</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['/packages']">Packages</a></li>
            <li><a [routerLink]="['/about-us']">About</a></li>				          					          		          
            <li><a [routerLink]="['/contact-us']">Contact</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->					      		  
    </div>
  </div>
</header>
