<!-- start banner Area -->
<app-banner [title]='pageTitle'></app-banner>
<!-- End banner Area -->


<!-- Start destinations Area -->
<section class="destinations-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">{{errorTitle}}</h1>
                    <p>{{errorMessage}}</p>
                </div>
            </div>
        </div>
    </div>
</section>