<!-- <div class="grid-item"
  *ngFor="let item of items; let i = index" [attr.lightbox]="i">
  <img [src]="item.data.thumbnail">
</div> -->

<!-- Modal -->
<div class="modal" [style.display]="showModal ? 'block' : 'none'">
  <div class="gallery modal-lg modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title">Gallery</h5>
        <button type="button" class="close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div>
        <button type="button" class="close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="details" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor='let imgUrl of imageUrls; let i = index' [ngClass] ='i == 0 ? "carousel-item active" : "carousel-item"'>
              <img [src]="imgUrl" width="98%">
            </div>
          </div>
          <a class="carousel-control-prev" *ngIf="imageUrls.length > 1" (click)="moveSlides(-1)" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" *ngIf="imageUrls.length > 1" (click)="moveSlides(1)" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- <div class="modal-footer">        
        <div id="caption"></div>
      </div> -->
    </div>
  </div>
</div>


